<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">


	<context:component-scan base-package="com.mongodb" />

	<bean id="geoTrackGenerator" class="com.mongodb.flightxml.GeoTrackGenerator">
		<property name="mongoClient">
			<bean id="mongo" class="com.mongodb.MongoClient">
				<constructor-arg type="java.lang.String" value="localhost" />
				<constructor-arg type="int" value="37017" />
			</bean>
		</property>

	</bean>

	<bean id="mongo" class="com.mongodb.MongoClient">

		<constructor-arg type="java.lang.String" value="localhost" />
		<constructor-arg type="int" value="27017" />
	</bean>
	<mongo:db-factory id="mongoDbFactory" dbname="mongoRep"
		mongo-ref="mongo" />


	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<mongo:repositories base-package="com.mongodb.replication.repository" />


</beans>