<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">


<context:component-scan base-package="com.mongodb.flightxml" />

<!--  

	<mongo:mongo id="mongo" host="localhost" port="27017" />
	
	<mongo:db-factory id="mongoDbFactory" dbname="mongoRep"
		mongo-ref="mongo" />
		
		<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
-->	
	
	<bean id="mongo" class="com.mongodb.MongoClient">

		<constructor-arg type="java.lang.String" value="localhost" />
		<constructor-arg type="int" value="27017" />
	</bean>
	<mongo:db-factory id="mongoDbFactory" dbname="flight" mongo-ref="mongo" />

	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
 
<!-- 
	<mongo:mongo id="mongo" host="localhost" port="27017" />
	
	<mongo:db-factory id="mongoDbFactory" dbname="flight" mongo-ref="mongo" />

	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
 -->	

<!-- 
	<mongo:mapping-converter>
		<mongo:custom-converters base-package="com.mongodb.mongoapp.converter"></mongo:custom-converters>
	</mongo:mapping-converter>
	 -->
<!--  
	<mongo:repositories base-package="com.mongodb.audit.repository" />
	-->
	<mongo:repositories base-package="com.mongodb.replication.repository" />
	

</beans>